<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>HideIcon</key>
	<false/>
	<key>HighlightedDOWs</key>
	<integer>65</integer>
	<key>PinItsycal</key>
	<false/>
	<key>ShowDayOfWeekInIcon</key>
	<true/>
	<key>ShowEventDays</key>
	<integer>1</integer>
	<key>ShowLocation</key>
	<true/>
</dict>
</plist>
